# Generatore Attestati - Dipendenze
# Generato: 12-05-2025

streamlit
pandas
openpyxl
reportlab
pillow
python-dotenv
watchdog  # Per la ricarica automatica durante lo sviluppo
xlrd  # Per il supporto ai file Excel più vecchi
